<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-backdrop *ngIf="loading"></ion-backdrop>

  <ion-card class="container">
    <!-- <ion-button expand="block" (click)="test()">Test </ion-button> -->
    <img id="testImage" [src]="imgSource" alt="" width="100%" height="180rem" />
    <ion-card-header>
      <ion-card-subtitle *ngIf="percentage">Garbage</ion-card-subtitle>
      <ion-card-title *ngIf="percentage">{{percentage}} %</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-button expand="block" (click)="takePictureHandler()"
    >Take Picture</ion-button
  >
  <ion-button expand="block" (click)="fromGalleryHandler()"
    >Upload Picture from Gallery
  </ion-button>
  <ion-button
    *ngIf="imageReady"
    expand="block"
    color="success"
    (click)="uploadToDB()"
    [disabled]="percentage<75 || !warmedup"
    >Upload Image</ion-button
  >
</ion-content>
